form {
    margin: 10px;
    
    .form-row {
        
        margin-top: 10px;
        &.required {
            label:after { 
                content: "*";            
                color: red;
                margin-left: 2px;    
            }
        }
    }
    
    label {
        display: block;
        text-transform: capitalize;     
    }
        input {
        border: 1px solid #ddd;
        padding: 2px 5px;        
        font-size: 1.2em;
        border-radius: 5px;
        box-shadow: inset 2px 2px 8px #ddd;    
    }
}